<div class="container ">
  <div class="row" >
    <div class="col-md-6" style="float:none;margin: 0 auto;">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Login</label>
    <input type="email" class="form-control" id="loginInput" aria-describedby="emailHelp" placeholder="">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="pwInput" placeholder="">
  </div>

  <a routerLink="/videolistadmin" class="btn btn-primary col-md-6 offset-md-3">Submit
  </a>
</form>
    </div>
  </div>
</div>
