<style>
 .bg{
   background:linear-gradient(#B6B9BA, cornsilk) no-repeat;
   width: 100%;
   height: 100vh;

   text-align: center;
   ;
  }
 .form-container{
   border: 0px solid;
   border-radius: 11px 11px 11px 11px;
   -moz-border-radius: 11px 11px 11px 11px;
   -webkit-border-radius: 11px 11px 11px 11px;
   border: 0px hidden #000000;
   padding:50px 60px;
   margin-top:20vh;
   -webkit-box-shadow: -1px 4px 26px 1px rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 4px 26px 1px rgba(0,0,0,0.75);
   box-shadow: -1px 4px 26px -10px rgba(0,0,0,0.75);
   text-align: left;
  }
  h1{
    text-align: center;
    padding-bottom: 25px;
  }
</style>



<div class="container-fluid bg">
  <div class="row">
    <div class="col-md-4 offset-md-4 offset-sm-2 col-sm-8 col-xs-12">
      <!--form start-->
      <form class="form-container" method="POST" (submit)="userLogin($event)">
        <h1>Admin Login</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">User name</label>
          <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-success btn-block">Log in</button>
      </form>
      <!--form end-->
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
  </div>
</div>



<router-outlet></router-outlet>
