<div class=" container row offset-1 mt-5">

  <form class="col-10">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Director">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="RunningTime">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Genre">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Year">
        </div>
        <div class="col">
          <div class="row">
              <input type="submit" class="btn btn-success col mr-1">
              <input type="button" value="clear" class="btn btn-warning col text-light">
          </div>
        </div>
      </div>
  </form>

</div>
