
<ul class="nav navbar navbar-light bg-dark">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#customer">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#reservevideoguest">Reservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="#updatevideoadmin">UpDate Customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="#customersadmin">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/api/users/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="#addVideo">addVideo</a>
    </li>
  </ul>

<router-outlet></router-outlet>
