<!-- <a routerLink="/Home">Home</a>
<a routerLink="/videolistguest">Video List(Guest)</a>
<a routerLink="/reservevideoguest">Reserve Video(Guest)</a>
<a routerLink="/adminlogin">Login(Admin)</a>
<a routerLink="/videolistadmin">Video List(Admin)</a>
<a routerLink="/updatevideoadmin">Update Video(Admin)</a>
<a routerLink="/customersadmin">Customers(Admin)</a> -->

<ul class="nav navbar navbar-light bg-dark">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#videolistguest">Guest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#reservevideoguest">Reservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="#updatevideoadmin">UpDate Customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="#customersadmin">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/api/users/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="#addVideo">addVideo</a>
    </li>
  </ul>

<router-outlet></router-outlet>
