<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s8">
            <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="customerService.selectedCustomer._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="firstName" #name="ngModel" [(ngModel)]="customerService.selectedCustomer.firstName" placeholder="Enter full name" required>
                  <label>First Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="lastName" #name="ngModel" [(ngModel)]="customerService.selectedCustomer.lastName" placeholder="enter last name">
                  <label>Last Name:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="address" #name="ngModel" [(ngModel)]="customerService.selectedCustomer.address" placeholder="Enter address">
                  <label>address</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="city" #name="ngModel" [(ngModel)]="customerService.selectedCustomer.city" placeholder="enter address">
                  <label>city :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
<!--was heare-->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
              <div class="col s7">
                  <table class="responsive-table highlight">
                      <thead>
                        <tr>
                          <th>First Name :</th>
                          <th>Last Name</th>
                          <th>Address</th>
                          <th>City</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tr *ngFor="let customer of customerService.customers">
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.city}}</td>
                        <td>
                            <a class="action-btn" (click)="onEdit(emp)">
                              <i class="material-icons">edit</i>
                            </a>
                            <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                              <i class="material-icons">delete</i>
                            </a>
                          </td>
                      </tr>
                    </table>
              </div>
  <!--was heare-->
          </div>
        </div>
      </div>
    </div>
  </div>


